
# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0
if BOARD_NRF7120PDK_NRF7120_ENGA_CPUAPP
config BT_CTLR
	default BT
endif # BOARD_NRF7120PDK_NRF7120_ENGA_CPUAPP
if BOARD_NRF7120PDK_NRF7120_ENGA_CPUFLPR || BOARD_NRF7120PDK_NRF7120_ENGA_CPUFLPR_XIP
# As FLPR has limited memory most of tests does not fit with asserts enabled.
config ASSERT
	default n if ZTEST
endif # BOARD_NRF7120PDK_NRF7120_ENGA_CPUFLPR || BOARD_NRF7120PDK_NRF7120_ENGA_CPUFLPR_XIP
