# Nordic Semiconductor nRF7120 MCU

# Copyright (c) 2024 Nordic Semiconductor ASA
# SPDX-License-Identifier: Apache-2.0

if SOC_NRF7120_ENGA_CPUAPP
#TODO: Verify this number
config NUM_IRQS
	default 271

endif # SOC_NRF7120_ENGA_CPUAPP
