# Nordic Semiconductor nRF71 MCU line

# Copyright (c) 2025 Nordic Semiconductor ASA
# SPDX-License-Identifier: LicenseRef-Nordic-5-Clause

config SOC_NRF7120_PREENG
	bool
	select SOC_NRF7120
	help
	  NRF7120 PRE-ENG
